/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  /*height: 100%;*/
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0;
  }
  .mastfoot {
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

legend {
  color: #fff;
  font-size: 2.5em;
}


#login .profile-img{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#page_not_found {
  height:400px;
} 

.no-shadow {
  text-shadow : none;
}

.thumbnails li {
  width: 200px;
  float:left;
  margin-right:10px;
}

#video-gallery{ color: #333; min-height:450px;}
#video-gallery h4{color: #FFF;}
.thumbnails .video{ color: #fff;}
#video-gallery .thumbnails li {width:250px;height: 235px;}
.video .text{float: left;padding:0 15px;width: 250px}
.video .text div {clear:both;}
.video a {color:#2793e6;}
.video .caption{float:left;}
.video .description .left {float: left;}
.video .description .right{float:right;}
.video .posted {float:left;}

#timeline .row {
  position: relative;
  margin-bottom: 20px;
}

#timeline .number {    
    border-radius: 50%;
    padding: 17px;
    
    background: #fff;
    color: #666;
    text-align: center;
    position: absolute;
    left:10px;
    top:100px;
    font: 32px Arial, sans-serif;
  }
#timeline .alert-warning {
  text-shadow: none;
  width: 90%;
  text-align: center;
  margin-left: 35px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;}
#timeline .single-line { position: absolute; border:1px solid #fff;width: 67px;top:134px; left:78px;} 
#timeline #video-recorder {float:left; border: 2px solid #fff;}
#timeline #video-preview  video {float:right; border: 2px solid #fff;}
#timeline #video-preview p {clear:both;}

#progressbar {display:none;}